body {
  background: #f3ca20;

  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #000;
}

.profbox {
  background-color: #d9a5b3;
  width: 97.5%;
  height: 93%;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
}
.image {
  border-radius: 50%;
  height: 350px;
  width: 200px;
}
.datass {
  padding-top: 5px;
  border: 3px solid wheat;
  width: 30%;
  height: 95%;
  float: left;
}

.check_order {
  padding-top: 5px;
  border: 3px solid wheat;
  width: 60%;
  height: 95%;
  float: left;
}
.seperator {
  border: 2px solid wheat;
  width: 100%;
  height: 20px;
  background-color: wheat;
  border-radius: 0.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
h3 {
  text-align: center;
}
table,
tr,
td {
  border: 1px solid wheat;
  text-align: center;
}
td {
  width: 200px;
}
.label {
  text-align: center;
}
